<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue dans MyApp!</h1>
        <p class="lead">Cette Application est basée sur Node.js, Express, MongoDB et possède des vues Handlebar.</p>
        <hr class="my-4">
        <p>Naviguez avec le menu en haut de la page.</p>
    </div>
</div>
