<!-- home.hbs -->
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue dans MyApp!</h1>
        <p class="lead">Cette Application est basée sur Node.js, Express et possède des vues Handlebars. Les données consommées sont fournies par un API REST déployé sur Flask</p>
        <hr class="my-4">
        <p>Naviguez avec le menu en haut de la page. Cette App implémente les 4 opérations du CRUD.<br>Le READ dans 'Book Catalog',<br>Le UPDATE dans 'Edit ISBN',<br>Le DELETE dans 'Delete Book by ISBN'<br>Et le CREATE dans 'Create New Book'.</p>
    </div>
</div>
